/*body {
            background-image: url('https://goo.gl/dpJ3Sd');
        }*/
#container {
    height: 100%;
    width: 100%;
    font-size: 0;
}

#articles, #tweets {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 14px;
}

#articles {
    width: 50%
}

#tweets {
    width: 50%
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

#quotes {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 30px;
}
.ols li{
    height: 45px;
}